body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
}

header a.contact-link {
    color: #77aaff;
}

header a.contact-link:hover {
    color: #aaddff;
}

.container {
    width: 80%;
    margin: auto;
    padding: 5px 0;
}

section {
    padding: 0; 
    margin: 0; 
}

section.summary {
    margin-top: 30px;
}

section h2 {
    margin-bottom: 5px;
    color: #333;
    font-size: 1.5em;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;
}

section ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #77aaff;
    font-size: 1.2em;
}

.job {
    margin-bottom: 10px;
}

.job h3 {
    margin: 0;
    color: #77aaff;
}

.job p {
    font-style: italic;
    margin: 5px 0;
}

.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #77aaff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.download-link:hover {
    background-color: #5599dd;
}
